
body, html {
    margin: 0;
    overflow: hideen;
    height: 100%;
}
body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Coves-Bold;
    src: url(../fonts/Coves\ Bold.otf);
}
@font-face {
    font-family: Coves-Light;
    src: url(../fonts/Coves\ Light.otf);
}

@keyframes blur {
    0% {filter:blur(0px);-webkit-filter:blur(0px)}
    100%{filter:blur(10px);-webkit-filter:blur(10px);}
}

.bg-image {
    background-image:url("../images/night-city-8-bit-thumb.jpg");
    height: 100%;
    filter:blur(10px);
    -webkit-filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: blur;
    animation-duration: 5s;
}

.title-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    filter:blur(0px);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
    font-family: Coves-Bold;
}

h1.title-text {
    font: size 50vw;
}

.body-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    filter:blur(0px);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 10%;
    height:10%;
    padding: 20px;
    text-align: center;
    font-family: Coves-Bold;
}

.row {
    display: flex;
}


.image1 {
    flex:1;
}
.image2 {
    flex:1;
}
