
body, html {
    margin: 0;
    overflow: hideen;
    height: 100%;
}
body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Coves-Bold;
    src: url(../fonts/Coves\ Bold.otf);
}
@font-face {
    font-family: Coves-Light;
    src: url(../fonts/Coves\ Light.otf);
}

@keyframes blur {
    0% {filter:blur(0vw);-webkit-filter:blur(0vw)}
    100%{filter:blur(1vw);-webkit-filter:blur(1vw);}
}

@keyframes unblur {
    0%{filter:blur(1vw);-webkit-filter:blur(1vw);}
    100% {filter:blur(0vw);-webkit-filter:blur(0vw)}
}

.bg-image {
    background-image:url("../images/bg1.jpg");
    height: 100%;
    filter:blur(1vw);
    -webkit-filter: blur(1vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: blur;
    animation-delay: 1s;
    animation-duration: 2s;
}

.title-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.5vw;
    color: white;
    font-weight: bold;
    border: 0.25vw solid #f1f1f1;
    position: absolute;
    filter:blur(0px);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 0.1vw;
    text-align: center;
    font-family: Coves-Bold;
    animation-delay: 1s;
    animation-name: unblur;
    animation-duration: 2s;
}



.socials {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.5vw;
    color: white;
    font-weight: bold;
    border: 0.25vw solid #f1f1f1;
    position: absolute;
    filter:blur(0px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 17.5%;
    padding: 0vw;
    text-align: center;
    font-family: Coves-Bold;
    animation-delay: 1s;
    animation-name: unblur;
    animation-duration: 2s;
}

.row {
    display: flex;
    top: 50%;
    margin-top: 1.5vw;
}


.image1 {
    flex:1;
}

img.icon {
    width:2.5vw;
}

.subtext{
    font-family: Coves-Light;
    height:1%;
    font-size:0.7vw;
    text-align: center;
    vertical-align: text-top;
}

@media only screen and (max-device-width: 480px){
    .title-text, .socials {
        width: 80%;
        border: 0.75vw solid #f1f1f1;
        border-radius: 2vw;
    }
    img.icon {
        width:15vw;
    }
    .subtext{
        font-size:4vw;
    }
}